/* Reset */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


#campo {
    display: flex;
    flex-wrap: wrap;
    width: 1000px;
    margin: auto;
}
.quadrato {
    border: 1px solid black;
    width: 100px;
    height: 100px;
    background-color: chartreuse;
}

.quadrato.cliccato {
    background-color: red;
}